
.icon-facebook-squared:before { content: '\e800'; } /* '' */
.icon-mail-alt:before { content: '\e801'; } /* '' */
.icon-calendar:before { content: '\e802'; } /* '' */
.icon-youtube-play:before { content: '\e803'; } /* '' */
.icon-adult:before { content: '\e804'; } /* '' */
.icon-doc-text:before { content: '\e805'; } /* '' */